.LIST {
    width: 230px;
    transition: 0.2s;
    cursor: pointer;

    .card {
        padding: 15px;
        border-radius: 12px;
        background-color: var(--card-bg);
        display: inline-block;
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .cardImage {
        width: 200px;
        height: 200px;
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .types p {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;

        & p {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.PLATE {

}
