.app_dark_theme {
    --bg-color: #362929;
    --inverted-bg-color: #979797;

    --primary-color: #d1d1d1;
    --secondary-color: #a5a5a5;
    --inverted-primary-color: #143957;
    --inverted-secondary-color: #a231ff;

    // skeleton-color
    --skeleton-shadow: #492c2c;
    --skeleton-color: #523333;
}