.app_gray_theme {
    --bg-color: #636363;
    --inverted-bg-color: #fbf4f4;

    --primary-color: #fbf4f4;
    --secondary-color: #636363;
    --inverted-primary-color: #636363;
    --inverted-secondary-color: #fbf4f4;
}