.app_gray_theme {
    --bg-color: #636363;
    --inverted-bg-color: #fbf4f4;

    --primary-color: #a9a9a9;
    --secondary-color: #c2c2c2;
    --inverted-primary-color: #c2c2c2;
    --inverted-secondary-color: #a9a9a9;

    // skeleton-color
    --skeleton-shadow: #8b8b8b;
    --skeleton-color: #7c7c7c;

    // code
    --code-bg: #a1a0a0;

    // card
    --card-bg: #807878;
}