:root {
    --bg-color: #979797;
    --inverted-bg-color: #362929;

    --primary-color: #143957;
    --secondary-color: #a231ff;
    --inverted-primary-color: #d1d1d1;
    --inverted-secondary-color: #a5a5a5;
}