.Code {
    border: 1px var(--primary-color) solid;
    padding: 20px;
    position: relative;
    background: var(--code-bg);
    overflow: auto;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.copyIcon path {
    stroke: var(--primary-color);
    fill: var(--code-bg);
}